{
  "plugins": [
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "~src": "./src"
        }
      }
    ]
  ]
}
